# OSX
.DS_Store

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
**/signing.properties
**/local.properties
.kotlin/

# Android Keystores
*.keystore
*.jks
keystore.properties
key.properties
!debug.keystore
**/fastlane/service-account.json

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ruby / CocoaPods
.bundle/
**/Pods/
/vendor/bundle/

# Fastlane
**/fastlane/report.xml

# Metro
.metro-health-check*

# Bundle artifact
*.jsbundle

# Testing
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Test output
*-test-output.txt
test-output.txt

# Misc
testers
apps/mobile/test-checklist.md
gitnote.md

# Server
apps/server/.env
apps/server/config/users.toml
apps/server/data/
apps/server/dist
apps/server/web/dist

branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
